<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1>New Download</h1>
  <form action="{{ url_for('download') }}" method="POST">
    <input size="100" name="url" />
    <input type="submit" value="Download" />
  </form>
  <h1>List</h1>
  <h2>Downloading</h2>
  <ul>
  {%- for down in downloading.items() %}
    <li>
      <span>{{ down[0] }}</span>
      <span>{{ down[1][0] }} / {{ down[1][1] }}</span>
      <span>{{ down[1][2] }}</span>
    </li>
  {%- endfor %}
  </ul>
  <h2>Copying</h2>
  <ul>
  {%- for copy in copying.items() %}
    <li>
      <span>{{ copy[0] }}</span>
      <span>{{ copy[1][0] }} / {{ copy[1][1] }}</span>
      <span>{{ copy[1][2] }}</span>
    </li>
  {%- endfor %}
  </ul>
  <h2>Complete</h2>
  <span>
    See <a href="http://sftp.agt001.moyougames.com/?lnk=239fe9c83220233187eedcc2a17b1809">Here</a>
  </span>
</body>
</html>
